.login-form {
  padding: 20px;
  border: 1px solid gray;
}

form h2 {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid gray;
}

button {
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
}

.sign-up {
  color: blue;
}
